<div class="input-section" [ngClass]="theme">
  <h1>Cantidad de Personas esperando</h1>

  <div class="container" [ngClass]="theme">
    <!-- Panel de Inputs -->
    <!-- <div class="input-panel" [ngClass]="theme">
      <div *ngFor="let estacion of estaciones; let i = index">
        <label *ngIf="i != 4">Estación {{ i + 1 }}:</label>
        <span *ngIf="i != 4">B</span>
        <input *ngIf="i != 4" 
          [(ngModel)]="estacion.B" 
          (input)="validateInput($event, 'B', estacion)"
          (keypress)="onKeyPress($event)"
          maxlength="2"
          type="text"
          class="input-box"
          placeholder=""
        />
        <span *ngIf="i > 0 && i < 3">EXP1</span>
        <input *ngIf="i > 0 && i < 3" 
          [(ngModel)]="estacion.EXP1" 
          (input)="validateInput($event, 'EXP1', estacion)"
          (keypress)="onKeyPress($event)"
          maxlength="2"
          type="text"
          class="input-box"
          placeholder=""
        />
      </div>
    </div> -->
 <!-- Input Panel -->
 <div class="input-panel" [ngClass]="theme">
  <div *ngFor="let estacion of estaciones(); let i = index">
    <!-- <label>Estación {{ i + 1 }}: {{ estacion.nombre }}</label> -->
    <label>Estación {{ i + 1 }}: </label>

    <!-- Input for route B -->
    <span>B</span>
    <input
      [(ngModel)]="estacion.B"
      (input)="validateInput($event, 'B', estacion, i)"
      (keypress)="onKeyPress($event)"
      maxlength="2"
      type="text"
      class="input-box"
      placeholder=""
    />

    <!-- Input for route EXP1 (only for stations 3 and 4) -->
    <ng-container *ngIf="i >= 2">
      <span>EXP1</span>
      <input
        [(ngModel)]="estacion.EXP1"
        (input)="validateInput($event, 'EXP1', estacion, i)"
        (keypress)="onKeyPress($event)"
        maxlength="2"
        type="text"
        class="input-box"
        placeholder=""
      />
    </ng-container>
  </div>
</div>

<!-- Indicator Panel -->
<div class="indicator-panel" [ngClass]="theme">
  <div *ngFor="let estacion of estaciones(); let i = index" class="indicator-row">
    <span class="indicator-label">{{ i + 1 }}</span>
    <div class="indicator-bar">
      <span class="station-name">{{ estacion.nombre }}</span>

      <!-- Display value for route B -->
      <div class="indicator-value-container-B">
        <span class="indicator-label-top">B</span>
        <div class="indicator-value">
          {{ estacion.B || '' }}
        </div>
      </div>

      <!-- Display value for route EXP1 (only for stations 3 and 4) -->
      <ng-container *ngIf="i >= 2">
        <div class="indicator-value-container-EXP">
          <span class="indicator-label-top">EXP1</span>
          <div class="indicator-value">
            {{ estacion.EXP1 || '' }}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
</div>
</div>

<div class="mapa-section" [ngClass]="theme">
<h1>Mapa de Estaciones y Rutas cubiertas</h1>
<app-route-map></app-route-map>
</div>