<app-info-above-charts/>
<section class="container2">
    <div>
        <!-- <app-chart1-estaciones-demanda></app-chart1-estaciones-demanda> -->
        <!-- <h2>Estaciones de Demanda</h2> -->
        <!-- Llamada al componente Chart11EstacionesDemandaComponent -->
        <app-chart1-1-estaciones-demanda/>
    </div>
    <div>
        <!-- <app-chart1-1-estaciones-demanda/> -->
        <app-chart3-estacion-demanda/>
    </div>
    <div>
        <!-- <app-chart1-1-estaciones-demanda/> -->

        <!-- <app-chart3-estacion-demanda/> -->
         <app-chart4-ruta-demanda/>
    </div>
    <div>
        <app-chart2-rutas-demanda/>

    </div>
</section>