// Variables de color
$color-light-bg: #ffffff;
$color-light-panel-bg: #eaeaea;
$color-light-text: #333;
$color-light-button-bg: #d3d3d3;
$color-light-button-hover: #c2c2c2;
$color-light-button-active: #00b4d8;
$color-light-info-title: #0077b6;

$color-dark-bg: #1a1a1a;
$color-dark-panel-bg: #333;
$color-dark-text: #ffffff;
$color-dark-button-bg: #444;
$color-dark-button-hover: #555;
$color-dark-button-active: #00b4d8;
$color-dark-info-title: #00b4d8;

@mixin theme-colors(
  $bg,
  $panel-bg,
  $text,
  $button-bg,
  $button-hover,
  $button-active,
  $info-title
) {
  background-color: $bg;
  color: $text;

  .map-wrapper {
    background-color: $panel-bg;
  }

  .route-selector {
    background-color: $panel-bg;

    h2 {
      color: $text;
    }

    .route-button {
      background-color: $button-bg;
      color: $text;

      &:hover {
        background-color: $button-hover;
      }

      &.active {
        background-color: $button-active;
        color: $bg;
      }
    }
  }

  .info-window-content {
    color: $text;
    border-radius: 10px;

    h3 {
      color: $info-title;
    }

    p {
      color: $text;
    }
  }
}

// Estilos para el tema claro
.light {
  @include theme-colors(
    $color-light-bg,
    $color-light-panel-bg,
    $color-light-text,
    $color-light-button-bg,
    $color-light-button-hover,
    $color-light-button-active,
    $color-light-info-title
  );
}

// Estilos para el tema oscuro
.dark {
  @include theme-colors(
    $color-dark-bg,
    $color-dark-panel-bg,
    $color-dark-text,
    $color-dark-button-bg,
    $color-dark-button-hover,
    $color-dark-button-active,
    $color-dark-info-title
  );
}

// Estilos base
.map-container {
  padding: 20px;
  margin: 10px auto;
  border-radius: 8px;
  max-width: 1200px;
}

.content-wrapper {
  display: grid;
  grid-template: repeat(9, minmax(10px, 1fr)) / repeat(5, minmax(50px, 1fr));
  gap: 1rem;
  grid-template-areas:
  "primero primero primero primero primero  "
  "primero primero primero primero primero  "
  "primero primero primero primero primero  "
  "primero primero primero primero primero  "
  "primero primero primero primero primero  "
  "segundo segundo segundo segundo segundo  "
  "tercero tercero tercero tercero tercero  "
  "tercero tercero tercero tercero tercero  "
  "tercero tercero tercero tercero tercero  ";
  
  
  @media (min-width: 950px) {
   grid-template: repeat(5, minmax(50px, 1fr)) / repeat(7, minmax(50px, 1fr));

    grid-template-areas:
      "primero primero primero primero primero segundo segundo"
      "primero primero primero primero primero tercero tercero"
      "primero primero primero primero primero tercero tercero"
      "primero primero primero primero primero tercero tercero"
      "primero primero primero primero primero tercero tercero";
  }
}

.map-wrapper {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  grid-area: primero;
}

.route-selector {
  border-radius: 12px;
  padding: 1.5rem;
  grid-area: segundo;

  .route-buttons {
    display: flex;
    gap: 1rem;
  }

  .route-button {
    flex: 1;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

.weather-wrapper {
  grid-area: tercero;
  border-radius: 12px;
  // padding: 1.5rem;
}

.info-window-content {
  text-align: center;
  padding: 10px;
  font-family: Arial, sans-serif;

  h3 {
    font-size: 1.2rem;
    margin: 0;
  }

  p {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  img {
    margin-top: 8px;
    border-radius: 8px;
    max-width: 100%;
    max-height: 150px;
  }
}
