<div class="map-container" [ngClass]="theme">
  <div class="content-wrapper" [ngClass]="theme">
    <!-- Contenedor del mapa -->
    <div class="map-wrapper" [ngClass]="theme">
      <google-map
        #map
        [options]="mapOptions"
        width="100%" height="100%"
      >
        <ng-container *ngFor="let marker of currentMarkers; trackBy: trackByPosition">
          <map-marker
            #markerRef="mapMarker"
            [position]="marker.position"
            [options]="getMarkerOptions(marker)"
            (mapClick)="openInfoWindow(markerRef, marker)"
          ></map-marker>
        </ng-container>
        <map-polyline
          [path]="currentPath"
          [options]="lineOptions"
        ></map-polyline>
        <map-info-window>
          <div class="info-window-content" [ngClass]="theme">
            <h3>{{ selectedMarker?.title }}</h3>
            <p>{{ selectedMarker?.description }}</p>
            <ng-container *ngIf="selectedMarker?.imageUrl">
              <img [src]="selectedMarker?.imageUrl" alt="{{ selectedMarker?.title }}" />
            </ng-container>
          </div>
        </map-info-window>
      </google-map>
    </div>

    <!-- Selector de rutas -->
    <div class="route-selector" [ngClass]="theme">
      <h2>Selección de Ruta</h2>
      <div class="route-buttons">
        <button
          [class.active]="selectedRoute === 'A'"
          (click)="selectRoute('A')"
          class="route-button"
          [@buttonState]="selectedRoute === 'A' ? 'active' : 'inactive'"
        >
          Ruta A
        </button>
        <button
          [class.active]="selectedRoute === 'B'"
          (click)="selectRoute('B')"
          class="route-button"
          [@buttonState]="selectedRoute === 'B' ? 'active' : 'inactive'"
        >
          Ruta B
        </button>
      </div>
    </div>

    <!-- Información adicional o sección futura -->
    <div class="weather-wrapper" [ngClass]="theme">
      <app-weatherinfo [selectedRoute]="selectedRoute">`</app-weatherinfo>
    </div>
  </div>
</div>
